//general

@keyframes warnerLike{
	from{
		clip-path: circle(1% at 0 50%);
	}

	to{
		clip-path: circle(140% at 0 50%);
	}
}

//navbar

@keyframes stroke{
	from{
		stroke-dashoffset: 130;
	}

	to{
		stroke-dashoffset: 0;
	}
}

//slider

@keyframes comeUp{
	from{
		transform: translateY(-20%);
		opacity: 0;
	}

	to{
		transform: translateY(0);
		opcity: 1;
	}
}

@keyframes comeDown{
	from{
		transform: translateY(20%);
		opacity: 0;
	}

	to{
		transform: translateY(0);
		opcity: 1;
	}
}

@keyframes scale{
	from{
		transform: scale(0);
	}

	to{
		transform: scale(1.5);
	}
}