/* Default style issues */

html, body{
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

body{
	font-family: 'Arial', sans-serif;
	background: $main_color;
}

a{
	text-decoration: none;
}

button, a{
	outline: none;
}

ul{
	li{
		list-style: none;
	}
}

/* Generic classes */

.container{
	padding: 0 1rem;
}

.text-center{
	text-align: center;
}

.flex{
	display: flex;

	&.ai-center{
		align-items: center;
	}

	&.jc-center{
		justify-content: center;
	}

	&.jc-spa{
		justify-content: space-around;
	}

	&.jc-spb{
		justify-content: space-between;
	}
}

.flex-child{
	flex: 1;
}

.main{
	margin-top: 75px;
	padding: 2em 0;
	overflow: hidden;
}