/* Mixins AND Extends */

@mixin absoluteCentered($rotation){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) rotate($rotation);
}


%box-shadow{
	box-shadow: 0 0 10px rgba(black, 0.25);
}

%button{
	display: inline-block;
	width: 44px;
	height: 44px;
	background: transparent;
	border: none;
	outline:none;
	cursor: pointer;
}