/* Navbar */

.navbar{
	width: 100%;
	padding: 1em;
	background: linear-gradient(to top, $lightgray, white);
	position: fixed;
	top: 0;
	z-index: 4;
	@extend %box-shadow;

	.expand-button{
		display: inline-block;
		width: 30px;
		height: 30px;
		position: relative;
		background: transparent;
		border: none;

		&:after{
			content: '';
			display: block;
			border-left: 2px solid $gray;
			border-bottom: 2px solid $gray;
			width: 50%;
			height: 50%;
			@include absoluteCentered(45deg);
		}
	}

	.navbar-brand{
		font-size: $main_title;
		text-transform: uppercase;
		color: $darkgray;
		display: inline-block;
		position: relative;
		font-weight: lighter;
		white-space: nowrap;

		&:before, &:after{
			content: '';
			display: inline-block;
			position: absolute;
			width: 35%;
			height: 3px;
			background: $darkgray;
			left: 0;
		}

		&:before{
			top: 0;
			transform: translateY(-10px);
		}

		&:after{
			bottom: 0;
			transform: translateY(10px);
		}
	}

	.navbar-right{
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.navbar-location{
		@extend %button;
		margin-right: 10px;
		
		&:hover{
    		svg{
    			animation: stroke .75s;
    			stroke: $main_color;
    		}
    	}

		svg{
			fill: transparent;
    		stroke: $darkgray;
			stroke-dasharray: 125;
   			transition: 200ms ease all;
		}
	}

	.burger-menu{
		@extend %button;
		height: 35px;
		position: relative;

		&.isOpen{
			&:after, &:before{
				height: 0px;
				width: 75%;
				border-bottom: none;
				left: 50%;
				right: 50%;
			}

			&:after{
				@include absoluteCentered(45deg);
			}

			&:before{
				@include absoluteCentered(-45deg);
			}
		}

		&:after, &:before{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: calc(50% - 11px);
			border-bottom: 4px solid $main_color;
			border-top: 4px solid $main_color;
			transition: 200ms ease all;
		}

		&:before{
			top: 0;
			left: 0;
		}

		&:after{
			bottom: 0;
			left: 0;
		}
	}
}

.navbar-collapse{
	position: fixed;
	background: $lightgray;
	width: 100%;
	height: calc(100vh - 75px);
	left: 0;
	bottom: 0;
	transition: 200ms ease all;
	transform: translateX(-100%);
	visibility: hidden;
	z-index: 3;

	&.isOpen{
		transform: translateX(0);
		visibility: visible;
		animation: warnerLike 1s;
	}

	.menu{
		display: block;
		padding: 0;
		
		.menu-link{
			display: block;
			font-size: 1.4rem;
			text-align: center;
			padding: 1rem 0;
			text-transform: uppercase;
			color: $darkgray;
			transition: 200ms ease all;

			&:hover{
				color: $main_color;
			}
		}
	}
}