@media screen and (min-width: 380px){
	.navbar{
		.navbar-location{
			margin-right: 20px;
		}
	}
}

@media screen and (min-width: 960px) {

	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
	
	.flex-child{
		&.flex-child-6{
			max-width: calc(50% - 4px);
		}
	}

	.navbar-collapse{
		width: 25%;
		left: 75%;
		transform: translateX(100%);
	}

	.slider{
		
		.slide{
			min-height: auto;

			.slider-video{
				height: 300px;
				padding-bottom: 0;
				iframe{
					position: relative;
				}
			}
		}

		.slider-controls{
			position: relative;
			transform: none;
			overflow-x: scroll;
			height: 15vh;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;

			.slider-control{
				min-width: 20%;
				max-width: 20%;
			}
		}
	}

	.modal{
		width: 30%;
		left: 50%;
		top:50%;
		height: calc(90vh - 75px);

		&.active{
			transform: translateX(-50%) translateY(-45%);
			box-shadow: 0 2px 10px rgba(black, 0.4);
		}
	}

	.section-form{
		.form{
			width: 50%;
			margin: 0 auto;
		}
	}

	
	.client-list{
		.client{
			flex-direction: row;

			&:first-of-type{
				display: flex;
			}

			.hide-desktop{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 330px){
	.navbar{
		.navbar-brand{
			white-space: normal;
		}
	}

	.navbar-collapse{
		height: calc(100vh - 110px);
	}

	.main{
		margin-top: 110px;
	}

	.modal{
		height: calc(100vh - 110px);
	}
}