@import "variables";

.section-form{
	min-height: calc(100vh - 75px);
	background: white;

	.section-title{
		color: $darkgray;
	}
}

.form{
	text-align: left;
}

.input{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem 0;
	border: none;
	background: transparent;
	border-bottom: 2px solid $darkgray;
	outline: none;
	transition: 200ms ease all;

	&:focus{
		border-color: $light_blue;
	}
}

.submit{
	width: 100%;
	padding: 0.5rem;
	border-radius: 10px;
	border: none;
	background: $light_blue;
	color: white;
	cursor: pointer;

	&:hover{
		background: $main_color;
	}
}

.client-list{
	border-collapse: collapse;
	width: 100%;
	overflow: auto;

	.client{
		display: flex;
		color: $darkgray;
		flex-direction: column;
		border-radius: 10px;
		
		&:first-of-type{
			display: none;
		}

		&:nth-of-type(even){
			background: $light_blue;
			color: white;
		}

		.client-attr{
			flex: 1;
			padding: 0.5rem;
		}
	}
}