@import "variables";
@import "mixins";

.modal{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 75px);
	background: white;
	pointer-events: none;
	z-index: 2;
	opacity: 0;
	transition: 200ms ease all;
	transform: translateX(100%);
	will-change: transform;

	&.active{
		opacity: 1;
		pointer-events: all;
		transform: translateX(0);
		animation: warnerLike 1s alternate;
	}

	.modal-header{
		display: block;
		width: 100%;
		min-height: 15%;
		color: $light_blue;
		padding: 1rem 0.5rem;
		position: relative;
		display: flex;
		align-items: center;

		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 95%;
			height: 1px;
			bottom: 1px;
			background: rgba($darkgray, 0.5);
			margin: 0 auto;
		}

		.modal-title{
			font-size: 1rem;
			font-weight: lighter;
			margin: 0;
		}

		.close-button{
			@extend %button;
			position: relative;
			margin-left: auto;

			&:after, &:before{
				content: '';
				display: block;
				width: 75%;
				height: 3px;
				background: $light_blue;
			}

			&:after{
				@include absoluteCentered(45deg);
			}

			&:before{
				@include absoluteCentered(-45deg);
			}
		}
	}

	.modal-content{
		padding: 1rem 0.5rem;
		width: 100%;
		height: 85%;
		overflow-y: auto;
		font-size: 14px;
		color: $darkgray;
	}
}