@import "variables";
@import "mixins";

.slider{
	position: relative;

	.slide{
		display: none;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		flex-direction: column;
		min-height: calc(100vh - 150px);
		justify-content: space-between;
		position: relative;

		&.active{
			display: flex;
			visibility: visible;
			opacity: 1;
			pointer-events: all;

			.slider-image{
				animation: comeUp 500ms alternate;
			}

			.slider-video{
				animation: comeDown 500ms alternate;
			}
		}

		.slider-image{
			text-align: center;
			padding: 0;
			margin: 2rem 0 0;
			will-change: transform;
		}

		.slider-video{
			position: relative;
			padding-bottom: 35.25%;
			width: 80%;
			margin: 0 auto;
			padding-top: 30px; height: 0; overflow: hidden;
			will-change: transform;


			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.slider-controls{
		display:flex;
		width: 100%;
		position: absolute;
		padding: 0;
		top: 50%;
		left: 0;
		align-items: center;
		transform: translateY(-100%);
		min-height: 10vh;
		overflow-x: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;


		&::-webkit-scrollbar{
			display: none;
		}

		.slider-control{
			flex: 1;
			min-width: 25%;
			max-width: 25%;
			position: relative;
			cursor: pointer;

			&:after{
				content: '';
				position: absolute;
				top: 50%;
				width: 100%;
				height: 12px;
				z-index: -1;
				transform: translateY(-60%);
				background:
				radial-gradient($darkgray 5%, transparent 15%) 0 0;
				background-repeat: repeat-x;
				background-size: 15px 12px;
				background-position: 30% -10%;
				opacity: 0.5;
			}

			&.active{
				.icon-circle{
					background: white;
					animation: scale 750ms;
					transform: scale(1.5,1.5);

				}

				.slide-title{
					color: white;
				}
			}

			.slider-dot{
				display: block;
				background: transparent;
				width: 100%;
				position: relative;
				border: none;

				input[type="radio"]{
					display: none;
				}
			}

			.icon-circle{
				display: block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				margin: 0.75rem auto;
				background: $darkgray;
				will-change: transform;
			}

			.slide-title{
				font-size: 0.75rem;
				margin: 0;
				color: $darkgray;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				transition: 200ms ease all;
			}
		}
	}
}
