<template>
  <div class="main" id="sobre">
    <div class="container">
		
		<figure>
			<img :src="require('@/assets/img/logo-prodigious.svg')" :alt="title">
		</figure>

    	<h2 class="text-center">{{ title }}</h2>

    	<p>{{ description }}</p>
    </div>
  </div>
</template>

<script>
	export default{
		name: 'About',
		
		data(){
			return{
				title: 'Sobre nós',
				description: `Através dos melhores processos, ferramentas e especialistas, a Prodigious chega ao Brasil para concentrar toda a produção digital do Grupo Publicis.
					Somos parceiros das agências, garantindo entregas de ponta a ponta em um mercado cada vez mais guiado pela experiência.`
			}
		}
	}
</script>

<style scoped>
	#sobre{
		height: calc(100vh - 75px);
		background: white;
	}
</style>
