<template>
  <main class="main home">
    <div class="container">
      <div class="slider">

        <a href="#" @mouseover="stopSlider" @mouseleave="carrousel" @click.prevent="openModal(slide.title, slide.description)" :class="['slide', { active: current == index }]" v-for="(slide, index) in slides" :key="index">

          <figure class="slider-image">
            <img :src="slide.image" :alt="slide.title" :title="slide.title">
          </figure>

          <div class="slider-video">
            <iframe :src="slide.videoSrc" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe>
          </div>
        </a>

        <ul class="slider-controls">
          <li :class="['slider-control', { active: current == index }]" v-for="(slide, index) in slides" :key="index">
            <label :for="slide.title" class="slider-dot">
              <input :id="slide.title" v-model="current" type="radio" name="slide-control" :value="index">
              <i class="icon-circle" aria-hidden="true"></i>
              <h2 class="slide-title">{{ slide.title }}</h2>
            </label>
          </li>
        </ul>

      </div>   
    </div>

    <Modal ref="Modal" />
  </main>
</template>

<style lang="scss">
@import "../assets/scss/pages/home/index.scss";
@import "../assets/scss/slider.scss";

iframe{
  width: 80%;
}
</style>

<script>
  import Modal from '@/components/_inc/Modal'

  export default {
    name: 'home',
    components:{
      Modal
    },
    data(){
     return{
      current: 0,
      time: null,
      slides: [
      {
        title: "Bradesco",
        image: require('../assets/img/cliente-prodigious-bradesco.png'),
        videoSrc: 'https://www.youtube.com/embed/fUn0SRiOk5A',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt recusandae impedit, doloremque sapiente nobis provident aperiam perferendis molestiae, id rerum cupiditate nesciunt dignissimos, ducimus ab suscipit similique quasi. Enim!'
      },

      {
        title: "Toyota",
        image: require('../assets/img/cliente-prodigious-toyota.png'),
        videoSrc: 'https://www.youtube.com/embed/3gEjjTo1d8M',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt recusandae impedit, doloremque sapiente nobis provident aperiam perferendis molestiae, id rerum cupiditate nesciunt dignissimos, ducimus ab suscipit similique quasi. Enim!'
      },

      {
        title: "Nestlê",
        image: require('../assets/img/cliente-prodigious-nestle.png'),
        videoSrc: 'https://www.youtube.com/embed/HKm6ZGiBs1I',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt recusandae impedit, doloremque sapiente nobis provident aperiam perferendis molestiae, id rerum cupiditate nesciunt dignissimos, ducimus ab suscipit similique quasi. Enim!'
      },

      {
        title: "Puma",
        image: require('../assets/img/cliente-prodigious-puma.png'),
        videoSrc: 'https://www.youtube.com/embed/P46NEawBFr4',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt recusandae impedit, doloremque sapiente nobis provident aperiam perferendis molestiae, id rerum cupiditate nesciunt dignissimos, ducimus ab suscipit similique quasi. Enim!'
      },

      {
        title: "Natura",
        image: require('../assets/img/cliente-prodigious-natura.png'),
        videoSrc: 'https://www.youtube.com/embed/iRJQAfXiLZ4',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt recusandae impedit, doloremque sapiente nobis provident aperiam perferendis molestiae, id rerum cupiditate nesciunt dignissimos, ducimus ab suscipit similique quasi. Enim!'
      },
      ]
    }
  },

  methods: {
    openModal(title, content){
      this.$refs.Modal.active(title, content);
    },

    carrousel: function(){
      this.time = setInterval(()=>{
        if(this.current + 1 > this.slides.length - 1) {
          this.current = 0
        }else{
          this.current++ 
        }
      }, 4000);
    },

    stopSlider(){
      clearTimeout(this.time);
      this.time = null
    }
  },

  mounted(){
    this.carrousel()
  }
}
</script>

