<template>
	<div>
		<section class="main section-form text-center" v-show="currentUser">
			<div class="container">
				<h2 class="section-title">Olá {{ currentUser.email }}</h2>
				<h3>Listagem de clientes:</h3>

				<table class="client-list">
					<tr class="client">
						<th class="client-attr">Nome</th>
						<th class="client-attr">E-mail</th>
						<th class="client-attr">Telefone</th>
					</tr>

					<tr class="client" v-for="(user, index) in users" :key="index">
						<td class="client-attr"><span class="hide-desktop">Nome: </span> {{ user.username}}</td>
						<td class="client-attr"> <span class="hide-desktop">E-mail: </span>
						{{ user.email}}</td>
						<td class="client-attr"><span class="hide-desktop">Telefone: </span> {{ user.phone}}</td>
					</tr>
				</table>
			</div>
		</section>
	</div>
</template>

<script>
	import firebase from 'firebase'
	import db from '@/firebase/init'

	export default{
		name: 'List',
		data(){
			return{
				currentUser: null,
				users: []
			}
		},

		created(){
			this.currentUser = firebase.auth().currentUser

			firebase.database().ref().on('child_added', snapshot => {
				this.users = snapshot.val()
			})
		}
	}
</script>

<style lang="scss">
	@import "@/assets/scss/cadastro.scss";
</style>