<template>
	<div>
		<section class="main section-form">
			<div class="container text-center">
				<h2 class="section-title">Login</h2>
				
				<form class="form" @submit.prevent="login()">

					<label for="email">E-mail</label>

					<input id="email" class="input" type="email" name="email" v-model="user.email" required>

					<label for="password">Senha</label>

					<input id="password" class="input" type="password" name="password" v-model="user.password" required>

					<button type="submit" class="submit">Login</button>
				</form>
			</div>
		</section>
	</div>
</template>

<script>
	import store from '@/store.js'

	export default{
		name: 'Login',
		data(){
			return{
				user: {
					email: null,
					password:null
				}
			}
		},

		methods: {
			login(){
				store.dispatch('login', {email: this.user.email, password: this.user.password})
			},
		},


	}
</script>

<style lang="scss">
	@import "@/assets/scss/cadastro.scss";
</style>