<template>
	<div>
		<section class="main section-form">
			<div class="container text-center">
				<h2 class="section-title">Cadastre-se</h2>

				<p>Cadastre-se para que nossa equipe entre em contato</p>

				<form class="form" @submit.prevent="register()">

					<label for="name">Nome</label>

					<input id="name" class="input" type="name" name="name" v-model="user.name" required>

					<label for="email">E-mail</label>

					<input id="email" class="input" type="email" name="email" v-model="user.email" required>

					<label for="phone">Telefone</label>

					<input  v-mask="'(##)#####-####'" id="phone" class="input" type="tel" name="phone" v-model="user.phone" required>

					<button type="submit" class="submit">Cadastrar</button>
				</form>
			</div>
		</section>
	</div>
</template>

<script>
	import store from '@/store.js'

	export default{
		name: "Signup",
		data(){
			return{
				user: {
					name: null,
					email: null,
					phone: null
				}
			}
		},

		methods: {
			register(){
				store.dispatch('register', {name: this.user.name, email: this.user.email, phone: this.user.phone})

				let inputs = document.querySelectorAll('.input');

				inputs.forEach( input => {
					input.value = ''
				});
			}
		}
	}
</script>

<style lang="scss">
	@import "@/assets/scss/cadastro.scss";
</style>