<template>
	<div>
		<section :class="isActive ? 'modal active': 'modal'">
			<div class="modal-header">
				<h2 class="modal-title">{{ title }}</h2>
				<button class="close-button" @click="close"></button>
			</div>
			<article class="modal-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam neque atque eum numquam vitae iste cum fugit earum, quaerat facere eaque illum, iusto, officiis fugiat, soluta qui esse reprehenderit corporis.
			</article>
		</section>
	</div>
</template>

<script>
	export default{
		name: 'Modal',
		data(){
			return{
				isActive: false,
				content: null,
				title: null
			}
		},

		methods:{
			active(title, content){
				this.title = title
				this.content = content
				this.isActive = true
			},

			close(){
				this.isActive = false
			}
		}
	}
</script>

<style lang="scss">
	@import "../../assets/scss/modal.scss";
</style>