<template>
	<div>
		<nav class="navbar flex ai-center">
			<button class="expand-button"></button>
			<router-link to="/"><h1 class="navbar-brand">Teste <strong>Prodigious</strong></h1></router-link>

			<div class="navbar-right">
				<button class="navbar-location" @click="getLocation"  title="Ver minha localização">
					<svg aria-hidden="true" data-name="Layer 1" id="Layer_1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><title/><path class="cls-1" d="M37.23,30c2.44-3.45,4.35-7.15,4.35-11.57a17.5,17.5,0,0,0-35,0c0,5.72,2.92,9.66,6.24,14L23.91,47c0.2,0.26,3.85-4.61,4.16-5q2.1-2.69,4.16-5.41C33.86,34.41,35.66,32.27,37.23,30Z"/><ellipse class="cls-1" cx="24.09" cy="18" rx="8.04" ry="8"/>
					</svg>
				</button>

				<button @click.prevent="toggleMenu" :class="isOpen ? 'burger-menu isOpen': 'burger-menu'" title="Abrir menu"></button>
			</div>
		</nav>

		<div :class="isOpen ? 'navbar-collapse isOpen' : 'navbar-collapse'">
			<ul class="menu" title="Menu">
				<li class="menu-item">
					<router-link :to="{ 'name': 'About' }" class="menu-link">Sobre</router-link>
				</li>

				<li class="menu-item">
					<router-link :to="{ 'name': 'Signup' }" class="menu-link">Cadastrar</router-link>
				</li>

				<li v-if="user">
					<a href="#" @click.prevent="logout" class="menu-link">Sair</a>
				</li>

				<li v-else>
					<router-link :to="{ 'name': 'Login'}" class="menu-link">Login</router-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import firebase from 'firebase'
	import store from '@/store.js'
	import axios from 'axios'

	export default{
		name: "Navbar",
		components: {
			store
		},
		data(){
			return{
				isOpen: false,
				user: null,
				position: {
					lat: null,
					long: null
				}
			}
		},

		methods: {
			toggleMenu(){
				this.isOpen = !this.isOpen;
			},

			logout(){
				store.dispatch('logout')
				this.isOpen = false
			},

			getLocation(){
				if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition((pos)=>{
			        	this.position.lat = pos.coords.latitude
			        	this.position.long = pos.coords.longitude


			        	axios.get(`http://maps.googleapis.com/maps/api/geocode/json?latlng=${this.position.lat},${this.position.long}&sensor=true`)
			        		.then(res =>{

			        			let address = res.data.results[0]

			        			this.$swal("Seu endereço: " + address.formatted_address)
			        		})
			        		.catch(err=>{
			        			console.warn(err);
			        		})

			        }, (err)=>{
			        	console.warn(err.code + err.message);
			        });
			    }
			}
		},

		created(){
			firebase.auth().onAuthStateChanged((loggedUser)=> {
				if(loggedUser){
					this.user = loggedUser;
				}else{
					this.user = null;
				}
			})
		},

		watch: {
	      '$route' (){
	      	this.isOpen = false
	      }
	    }
	}
</script>

<style lang="scss">
	
</style>