<template>
  <div id="app">
    <Navbar />
    <router-view/>
  </div>
</template>

<style lang="scss">
    @import "@/assets/scss/app.scss";
</style>

<script>
  import Navbar from '@/components/_inc/Navbar'

  export default {
    components: {
      Navbar
    }
  }
</script>